 body{
       font-family: Arial,sans-serif;
}

#wrapper{
	margin:0px 10px 20px 30px;
	min-width: 320px;
    overflow-y: auto;
}

.title h3{
	color:#06038d;
	font-size: 20px;
}

#content{
	border:3px dotted #ddd;
	font-size: 14px;
	display : none;
}
#disclamer-page{
	font-size: 14px;
	color: #777777;
}

#disclamer-page  a{
	cursor : pointer;
	text-decoration : underline !important;
}

#disclamer-page  p{
	margin-bottom : 25px !important;
	
}

#important-text{
	font-size: 14px;
	color: #777777;
}

#important-text a{
	text-decoration : underline !important;
	cursor : pointer;
}
#important-text p{
	margin-bottom :25px;
}
#assump-text p{
	margin-bottom :25px;
}
#assump-text a{
	text-decoration : underline !important;
}

#assump-text{
	font-size: 14px;
	color: #777777;
}

#box-print a{
	text-decoration : none !important;
	color : black;
}
a,
a:focus{
   outline: 0;
}

/*class style important*/
.border-none{
	border:none !important;
}

.border-bottom{
	border:none !important;
	border-bottom: 3px dotted #ddd !important;
}

.align-right{
	text-align:right !important;
}

.align-left{
	text-align:left !important;
}

.align-center{
	text-align:center !important;
}

/*overide css bootstrap*/
.img-responsive{
	display: inline-block;
}

.modal-estimated{
	color: #777777;
}

/*left content
---------------------------------------------------------------------------------------------------------------*/

.left-content{
	border-right:3px dotted #ddd;
	//height: 700px;
	min-height: 700px;
}

.tab-content{
	margin-top: 35px;	
}


/*tab*/
.nav-tabs{
	border-bottom:none;
	margin-top:20px;
}

.tab-pane{
	min-height: 550px;
}

.nav-tabs li{
	background:url(../../images/pension_decumulator/tab-bg-left.png) top left no-repeat;
	width:50%;
	height:49px;
	padding-left:13px;
}

.nav-tabs li.active,
.nav-tabs li.parent-active{
	background:url(../../images/pension_decumulator/tab-bg-left-active.png) top left no-repeat;
}

.nav-tabs li .mid{
	background:url(../../images/pension_decumulator/tab-bg-mid.png) top left repeat-x;
	height:49px;
}

.nav-tabs li.active .mid,
.nav-tabs li.parent-active .mid{
	background:url(../../images/pension_decumulator/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li .mid div{
	//background:url(../../images/pension_decumulator/tab-bg-right.png) top right no-repeat;
	height:49px;
	position: relative;
}

.nav-tabs li.active  .mid div{
	//background:url(../../images/pension_decumulator/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li .mid div .fix-bg-ie8{
	background:url(../../images/pension_decumulator/tab-bg-right.png) top right no-repeat;
	height:49px;
	width: 14px;
	position: absolute;
	top: 0;
	right: 0;
}

.nav-tabs li.active  .mid div .fix-bg-ie8{
	background:url(../../images/pension_decumulator/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li:first-child{
	background:url(../../images/pension_decumulator/first-tab-bg-left.png) top left no-repeat;
	padding-left:2px;
}

.nav-tabs li:first-child.active{
	background:url(../../images/pension_decumulator/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid{
	background:url(../../images/pension_decumulator/tab-bg-mid.png) top left repeat-x;
}

.nav-tabs li:first-child.active .mid{
	background:url(../../images/pension_decumulator/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid div{
	background:url(../../images/pension_decumulator/tab-bg-right.png) top right no-repeat;
}

.nav-tabs li:first-child.active .mid div{
	background:url(../../images/pension_decumulator/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li a{
	height:39px;
	padding-left:60px;
	display:inline-block;
	line-height:39px;
	margin:6px 0 0 5px;
	color:#06038d;
	width: 90%;
}

.nav-tabs li.active a,
.nav-tabs li.parent-active a{
	font-weight:bold;
	text-decoration:none;
}

.nav-tabs li a:hover{
	text-decoration:none;
}

.nav-tabs li.your-details a{
	background:url(../../images/pension_decumulator/icon-about-you.png) top left no-repeat;
}
.nav-tabs li.your-details.active a{
	background:url(../../images/pension_decumulator/icon-about-you-active.png) top left no-repeat;
}

.nav-tabs li.display-results a{
	background:url(../../images/pension_decumulator/icon-results.png) top left no-repeat;
}
.nav-tabs li.display-results.active a{
	background:url(../../images/pension_decumulator/icon-results-active.png) top left no-repeat;
}

/*.nav-tabs li:nth-child(2) a:active{
	background:url(../../images/pension_decumulator/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(4) a:hover{
	background:url(../../images/pension_decumulator/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(5) a:hover{
	background:url(../../images/pension_decumulator/icon-about-you-hover.png) top left no-repeat;
}*/

.nav-tabs li.active a{
	background:url(../../images/pension_decumulator/icon-about-you-hover.png) top left no-repeat;
}

.child{
	display:none !important;
}

/*row content*/
.tab-pane{
	//padding-bottom:40px;
}

.tab-pane .row-rule{
	padding:35px 0;
	margin:0 10px;
	border-top: 3px dotted #ddd;
}

.tab-pane .row-rule:first-child{
	padding-top:10px;
}

.tab-pane .row-rule:first-child{
	border-top:none;
}


.col-calendar{
	position: relative;
}

.wrap-img-calendar{
	position: absolute;
	right: 14px;
	top:5px;
	width: 23px;
	height: 24px;
}

.row-rule input[type="text"]{
	height:24px;
	border:2px solid #ccc;
	margin-top:5px;
	padding: 0 5px;
	text-align:right;
	width: 80%;
}

.calendar-wrap{
	padding-left: 25px;
}

.row-rule input[type="radio"],
.modal input[type="radio"]{
    display:none;
}

.row-rule input[type="radio"] + label{
    background:url(../../images/pension_decumulator/radio.png) center bottom no-repeat;
    height: 28px;
    width: 26px;
    display:inline-block;
    padding: 0 0 0 0px;
    max-width: inherit;
}

.row-rule input[type="radio"] + label.selected{
    background:url(../../images/pension_decumulator/radio-check.png) center bottom no-repeat;
}

.modal input[type="radio"] + label.growrate-label{
    background:url(../../images/pension_decumulator/radio.png) center bottom no-repeat;
    height: 28px;
    width: 26px;
    display:inline-block;
    padding: 0 0 0 0px;
    max-width: inherit;
}

.modal input[type="radio"] + label.growrate-label.selected{
    background:url(../../images/pension_decumulator/radio-check-blue.png) center bottom no-repeat;
}

.row-rule .radio-lable{
	padding-top:5px;
}

.row-rule{
	color: #777777;
}

.row-rule p{
	padding-left:15px;
}

.pound{
	background:url(../../images/pension_decumulator/pound.png) bottom left no-repeat;
	padding-left:20px;
}

.percent{
	background:url(../../images/pension_decumulator/percent.png) bottom right no-repeat;
	padding:0 25px;
}

.label-tooltip{
	display:block;
	padding: 6px 0 0 50px;
	
}

.icon-tooltip,
.icon-tooltip-popup{
	background:url(../../images/pension_decumulator/icon-tooltip.png) left bottom no-repeat;
	display:inline-block;
	height:30px;
	width:29px;
	margin-right: 20px;
	float:left;
}

.icon-tooltip:hover{
	background:url(../../images/pension_decumulator/icon-tooltip-hover.png) left center no-repeat;
}

#content-tooltip{
	background:url(../../images/pension_decumulator/tooltip-bg.png) left center no-repeat;
	width:423px;
	height:270px;
	display:none;
	z-index:2000;
	padding-left : 60px;
	padding-right : 15px;
	padding-top : 20px;
	
}

#infor-tooltip{
	z-index : 3000;
	height:229px;
	overflow-y : auto;
}


.row-rule .col-text{
	height:29px;
	line-height:29px;
}

.row-rule .ui-slider{
	margin-top:22px;
}

.row-rule .label-slider{
	margin-top:12px;
}

/*tab saving row content*/
.tab-title{
	color: #06038d;
    font-size: 17px;
    padding-left: 26px;
    margin-top: 0;
}

/*tab results*/
#tab3 .row-rule{
	border-top:none;
	padding: 10px 0;
}

#year-retire,
#age-retire{
	font-weight:bold;
}

.total-result{
	text-align:center;
}

.total-result-wrap{
	border: 3px solid #06038d;
    color: #06038d;
    display: inline-block;
    font-size: 19px;
    padding: 7px 50px;
}

#pound-per-year{
	font-weight:bold;
}

.result-note{
	font-size:11px;
	color:#777777;
}

.content-title{
	color:#777777;
	padding-left:25px;
}

.btn-note{
	color: #777777;
    font-size: 13px;
}

#btn-advanced{
	display:inline-block;
	color:#fff;
	font-weight:bold;
	background-color:#009fdf;
	padding:3px 10px;
	border-radius:5px;
	margin-left:20px;
	font-size:14px;
}

.label-percent{
	display:inline-block;
	padding-left:5px;
}

.icon-tooltip-popup{
	background:url(../../images/pension_decumulator/icon-tooltip-hover.png) left center no-repeat;
}

.modal-value{
	margin-left:50px;
	clear: both;
}

#estimated-annual-modal .modal-dialog{
	margin-top : 100px;
}

#estimated-annual-modal .modal-body{
	overflow:hidden;

}

/*tab summary*/
#wrap-tab{
	border: 3px solid #06038d;
	margin:10px 0;
	padding:10px;
}

#wrap-tab .tab-title{
	padding-left:0;
}

.wanted-income{
	color: #777777;
    font-size: 17px;
}

#wrap-tab p,
#wrap-tab ul li{
	color: #777777;
}

#wrap-tab ul{
	padding:0;
}

#wrap-tab ul li{
	margin: 0 0 0 50px;
}

#wrap-tab .li-heading{
	list-style:none;
	margin:10px 0 0;
}

#wrap-tab .p-color{
	color:#06038d;
	font-weight:bold;
}

#wrap-tab a{
	color:#06038d;
	font-weight:bold;
	text-decoration:underline;
	cursor: pointer;
}

.summary-normal-title b{
	color: #da291c;
}

/*tab display result*/
.display-result-year-row{
	margin-bottom: 20px;
	position: relative;
}

.display-result-icon{
	position: absolute;
	left:20px;
	z-index: 99;
}

.display-result-year{
	font-size: 20px;
	font-weight: bold;
}

.expectancy-year{
	text-align: center;
	color: #717171;
}

.funds-year{
	text-align: center;
	color: #06038d;
}

.color-blue{
	color:#06038d !important;
}

.display-result-link{
	font-size: 12px;
}

.title-link{
	margin-bottom: 0px;
}

.p-link{
	margin-bottom: 20px;
}

.no-shortfall,
.have-shortfall{
	margin-bottom: 20px;
}

#tab2 p{
	line-height: 176%;
}

#print-div{
	margin-bottom: 5px;
}


/*next previous*/
.tab-content .btnNext,
.tab-content .btnPrevious,
.btn-print{
	position:absolute;
	bottom:18px;
	background-color: #06038d;
	height:25px;
	padding:2px 12px;
	font-weight: bold;
}

#wrap-tab .btn-print{
	position: inherit;
	color: #fff;
	text-decoration: none;
}

.tab-content .btnPrevious{
	background-color:#747678;
}

.tab-content .btnNext:hover,
.tab-content .btnPrevious:hover{
	background-color:#428bca;
}

.tab-content .btnNext{
	right:40px;
}

.tab-content .btnPrevious{
	left:95px;
}

/*right-content
---------------------------------------------------------------------------------------------------------------*/
.right-content{
	overflow: hidden;
	min-height: 700px;
	height : 700px;
}

.right-content h3{
	font-size: 19px;
	color: #0f0d8f;
}

.draw-chart-title{
	padding: 0 15px;
}

.top-arrow{
	text-align: center;
	z-index: 999;
	margin-bottom: -10px;
	display:none;
}

.arrow-top{
	background: url(../../images/pension_decumulator/arrow-top-bg.png) center top no-repeat;
	height: 27px;
}

.arrow-mid{
	background: url(../../images/pension_decumulator/arrow-mid-bg.png) center top repeat-y;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #0f0d8f;
	line-height: 21px;
}

.arrow-bot{
	background: url(../../images/pension_decumulator/arrow-bot-bg.png) center top no-repeat;
	height: 27px;	
}

.pound-shortfall{
	color: #da291c;
}

.bot-arrow{
	background: url(../../images/pension_decumulator/arrow-pension.png) left top no-repeat;
	width: 201px;
	height: 74px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 17px;
	color: #0f0d8f;
	padding-top: 12px;
	position:absolute;
}

.coingrey{
	background: url(../../images/pension_decumulator/coin_gray_horiontal.png) top no-repeat;
	width: 114px;
	height: 50px;
	position:absolute;
	display:none;
}

.coinBlue{
	background: url(../../images/pension_decumulator/coin_blue_horizontal_crop.png) top no-repeat;
	width: 114px;
	height: 50px;
	position:absolute;
	display:none;
}

#coin-container-left{
	height : 615px;
	width: 114px;
	display: inline-block;
}

#coin-container-right{
	height : 615px;
	width: 114px;
	display: inline-block;
}

#coin-title-left{
	z-index: 999;
	position: relative;
	background: url(../../images/pension_decumulator/title-coin-gray.png) bottom center no-repeat;
	min-width: 172px;
	height: 94px;
	font-size: 17px;
	color: #7a7a7a;
	display:none;
	padding-top: 5px;
}

#coin-title-right{
	background: url(../../images/pension_decumulator/title-coin-blue.png) bottom center no-repeat;
	min-width: 172px;
	height: 94px;
	font-size: 17px;
	color: #06038d;
	position: relative;
	z-index: 999;
	display:none;
	top : 6px;
	padding-top: 5px;
}

.draw-chart-default{
	padding-top: 50px;
}

/*overide slider css*/
.ui-slider-pips .ui-slider-pip{
	color: #777777 !important;
	font-weight: bold !important;
}

@media screen and (min-width:0\0) {
	/* IE9 and IE10 rule sets go here */
	.img-responsive{
		width: auto;
	}

	.row-rule input[type="text"]{
		padding: 0;
	}
}

/*less than 991px*/
@media screen and (max-width: 1176px) {
	#tab2 p {
	    line-height: inherit;
	}
}

/*less than 991px*/
@media screen and (max-width: 991px) {
	.left-content{
		border-right: none;
	}

	.right-content{
		border-left: none;
		border-top: 3px dotted #ddd;
	}

	.no-shortfall,
	.have-shortfall{
		margin-bottom: 10px;
	}

	#tab2 p{
		line-height: inherit;
	}
}

/*less than 768px*/
@media screen and (max-width: 768px) {
	.pound {
	    background: url(../../images/pension_decumulator/pound-480.png) no-repeat scroll left bottom;
	    float: right;
	    width: 115px;

	}
	.row-rule input[type="text"]{
		height: 20px;
	    margin-top: 3px;
		width: 97px;
	    float: right;
	}

	.wrap-img-calendar{
	    right: -9px;
	    top: 2px;
	    width: 20px;
	}
}

/*less than 640px*/
@media screen and (max-width: 640px) {
	/*font size*/
	#content,
	.modal-body{
	    font-size: 13px;
	}

	.form-control{
		font-size: 13px;
	}

	.tab-title,
	.wanted-income{
		font-size: 16px;
	}

	.total-result-wrap{
		font-size: 18px;
	}

	.btn-note{
		font-size: 12px;
	}

	.result-note{
	    font-size: 10px;
	}

	.display-result-year{
		font-size: 16px;
	}

	/**/

	.tab-content{
		margin-top: 20px;	
	}

	.left-content{
		height: auto;
		min-height: inherit;
	}

	.tab-content .btnNext, .tab-content .btnPrevious, .btn-print{
		bottom: 10px;
	}

	.tab-pane{
		min-height: inherit;
		padding-bottom: 40px;
	}

	.tab-pane .row-rule{
		padding: 10px 0;
	}

	.fix-bg-ie8{
		display: none;
	}

	.nav-tabs li{
		background:url(../../images/pension_decumulator/tab-bg-left-480.png) top left no-repeat;
		height:38px;
		padding-left:11px;
	}

	.nav-tabs li.active,
	.nav-tabs li.parent-active{
		background:url(../../images/pension_decumulator/tab-bg-left-active-480.png) top left no-repeat;
	}

	.nav-tabs li .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-480.png) top left repeat-x;
		height:38px;
	}

	.nav-tabs li.active .mid,
	.nav-tabs li.parent-active .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-480.png) top right no-repeat;
		height:38px;
	}

	.nav-tabs li.active  .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-active-480.png) top right no-repeat;
	}

	.nav-tabs li:first-child{
		background:url(../../images/pension_decumulator/first-tab-bg-left-480.png) top left no-repeat;
		padding-left:2px;
	}

	.nav-tabs li:first-child.active{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child.active .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-480.png) top right no-repeat;
	}

	.nav-tabs li:first-child.active .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-active-480.png) top right no-repeat;
	}

	.nav-tabs li a{
		height:31px;
		padding-left:36px;
		line-height:31px;
		margin:4px 0 0 1px;
		font-size: 12px;
	}

	.nav-tabs li.active a,
	.nav-tabs li.parent-active a{
		font-weight:bold;
		text-decoration:none;
	}

	.nav-tabs li a:hover{
		text-decoration:none;
	}

	.nav-tabs li.your-details a{
		background:url(../../images/pension_decumulator/icon-about-you-480.png) top left no-repeat;
	}
	.nav-tabs li.your-details.active a{
		background:url(../../images/pension_decumulator/icon-about-you-active-480.png) top left no-repeat;
	}

	.nav-tabs li.display-results a{
		background:url(../../images/pension_decumulator/icon-results-480.png) top left no-repeat;
	}
	.nav-tabs li.display-results.active a{
		background:url(../../images/pension_decumulator/icon-results-active-480.png) top left no-repeat;
	}

	.nav-tabs li.active a{
		background:url(../../images/pension_decumulator/icon-about-you-hover-480.png) top left no-repeat;
	}


	/*tooltip*/
	.icon-tooltip{
		background:url(../../images/pension_decumulator/icon-tooltip-480.png) left bottom no-repeat;
		height:22px;
		width:22px;
		margin-right: 0px;
	}

	.icon-tooltip:hover{
		background:url(../../images/pension_decumulator/icon-tooltip-hover-480.png) left center no-repeat;
	}

	.label-tooltip {
    	padding: 2px 0 0 30px;
	}

	#content-tooltip{
		background:url(../../images/pension_decumulator/tooltip-bg-480.png) left center no-repeat;
		width:192px;
		height:139px;
		padding-left : 30px;
		padding-right : 3px;
		padding-top : 7px;
	}

	#infor-tooltip{
		height:118px;
		overflow-y : auto;
	}

	/*radio input*/
	.row-rule input[type="radio"] + label{
	    background:url(../../images/pension_decumulator/radio-480.png) center bottom no-repeat;
	    height: 21px;
    	width: 20px;
	}

	.row-rule input[type="radio"] + label.selected{
	    background:url(../../images/pension_decumulator/radio-check-480.png) center bottom no-repeat;
	}

	.pound {
	    background: url(../../images/pension_decumulator/pound-480.png) no-repeat scroll left bottom;
	    float: right;
	    width: 105px;

	}

	.percent {
	    background: url(../../images/pension_decumulator/percent-480.png) no-repeat scroll right bottom;
	    padding: 0 25px;
	}

	.tab-content .btnNext{
		right:40px;
	}

	/*popup*/
	.icon-tooltip-popup{
		background: url(../../images/pension_decumulator/icon-tooltip-hover-480.png) no-repeat scroll left;
	}

	/*icon calendar*/
	.wrap-img-calendar{
	    right: -9px;
	    top: 2px;
	    width: 20px;
	}

	.row-rule input[type="text"]{
		height: 20px;
	    margin-top: 3px;
		width: 89px;
	    float: right;
	}

	/*bootstrap overide*/
	.tab-pane .col-xs-10{
		width: 70%;
	}

	.tab-pane .col-xs-2{
		width: 30%;
	}

	.tab-pane .col-xs-1{
		width: 15%;
	}

	#tab3 .col-xs-8{
		width: 38%;
	}
}


/*less than 480px*/
@media screen and (max-width: 480px) {
	/*font size*/
	#content,
	.modal-body{
	    font-size: 10px;
	}

	.form-control{
		font-size: 10px;
	}

	.tab-title,
	.wanted-income{
		font-size: 13px;
	}

	.total-result-wrap{
		font-size: 15px;
	}

	.btn-note{
		font-size: 9px;
	}

	.result-note{
	    font-size: 7px;
	}

	.display-result-year{
		font-size: 14px;
	}

	.display-result-link{
		font-size: 10px;
	}

	.right-content h3{
		font-size: 18px;
	}

	/**/
	.tab-content{
		margin-top: 10px;	
	}

	.left-content{
		padding: 0 5px;
	}

	.right-content {
	    height: 710px;
	    min-height: 710px;
	}

	#wrapper{
		margin:10px 0;
	}

	.tab-pane .row-rule{
		padding: 10px 0;
	}

	.nav-tabs li{
		background:url(../../images/pension_decumulator/tab-bg-left-320.png) top left no-repeat;
		height:25px;
		padding-left:7px;
	}

	.nav-tabs li.active,
	.nav-tabs li.parent-active{
		background:url(../../images/pension_decumulator/tab-bg-left-active-320.png) top left no-repeat;
	}

	.nav-tabs li .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-320.png) top left repeat-x;
		height:25px;
	}

	.nav-tabs li.active .mid,
	.nav-tabs li.parent-active .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-320.png) top right no-repeat;
		height:25px;
	}

	.nav-tabs li.active  .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-active-320.png) top right no-repeat;
	}

	.nav-tabs li:first-child{
		background:url(../../images/pension_decumulator/first-tab-bg-left-320.png) top left no-repeat;
		padding-left:2px;
	}

	.nav-tabs li:first-child.active{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child.active .mid{
		background:url(../../images/pension_decumulator/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-320.png) top right no-repeat;
	}

	.nav-tabs li:first-child.active .mid div{
		background:url(../../images/pension_decumulator/tab-bg-right-active-320.png) top right no-repeat;
	}

	.nav-tabs li a{
		height:25px;
		padding-left:24px;
		line-height:22px;
		margin:2px 0 0 1px;
		font-size: 8px;
	}

	.nav-tabs li.active a,
	.nav-tabs li.parent-active a{
		font-weight:bold;
		text-decoration:none;
	}

	.nav-tabs li a:hover{
		text-decoration:none;
	}

	.nav-tabs li.your-details a{
		background:url(../../images/pension_decumulator/icon-about-you-320.png) top left no-repeat;
	}
	.nav-tabs li.your-details.active a{
		background:url(../../images/pension_decumulator/icon-about-you-active-320.png) top left no-repeat;
	}

	.nav-tabs li.display-results a{
		background:url(../../images/pension_decumulator/icon-results-320.png) top left no-repeat;
	}
	.nav-tabs li.display-results.active a{
		background:url(../../images/pension_decumulator/icon-results-active-320.png) top left no-repeat;
	}

	.nav-tabs li.active a{
		background:url(../../images/pension_decumulator/icon-about-you-hover-320.png) top left no-repeat;
	}

	/*tooltip*/
	.icon-tooltip{
		background:url(../../images/pension_decumulator/icon-tooltip-320.png) left bottom no-repeat;
		height:19px;
		width:17px;
		margin-right: 0px;
	}

	.icon-tooltip:hover{
		background:url(../../images/pension_decumulator/icon-tooltip-hover-320.png) left center no-repeat;
	}

	.label-tooltip {
    	padding: 3px 0 0 30px;
	}


	/*radio input*/
	.row-rule input[type="radio"] + label{
	    background:url(../../images/pension_decumulator/radio-320.png) center bottom no-repeat;
	    height: 17px;
    	width: 21px;
	}

	.row-rule input[type="radio"] + label.selected{
	    background:url(../../images/pension_decumulator/radio-check-320.png) center bottom no-repeat;
	}

	.row-rule input[type="text"] {
	    height: 17px;
	    margin-top: 2px;
	    width: 73px;
	    float: right;
	}

	/*popup*/
	.icon-tooltip-popup{
		margin-right: 0px;
	}

	/*right draw*/
	/*.arrow-top{
		background: url(../../images/pension_decumulator/arrow-top-bg-480.png) top left no-repeat;
		width: 120px;
		height: 16px;
	}

	.arrow-mid{
		background: url(../../images/pension_decumulator/arrow-mid-bg-480.png) top left repeat-y;
		width: 120px;
		font-size: 14px;
		line-height: 26px;
	}

	.arrow-bot{
		background: url(../../images/pension_decumulator/arrow-bot-bg-480.png) top left no-repeat;
		width: 120px;
		height: 16px;	
	}*/

	.bot-arrow{
		background: url(../../images/pension_decumulator/arrow-pension-480.png) left top no-repeat;
		width: 129px;
		height: 61px;
		font-size: 13px;
		padding-top: 16px;
		padding-left: 20px;
	}

	#coin-title-left{
		background: url(../../images/pension_decumulator/title-coin-gray-480.png) bottom center no-repeat;
		font-size: 13px;
	    min-width: 120px;
	    padding-top: 10px;
	}

	#coin-title-right{
		background: url(../../images/pension_decumulator/title-coin-blue-480.png) bottom center no-repeat;
		font-size: 13px;
	    min-width: 120px;
	    padding-top: 10px;
	}

	.btn-print {
	    margin: 25px 2px 0 0;
	}

	/*icon calendar*/
	.wrap-img-calendar{
	    width:16px;
	    right: -9px;
	}

	.pound {
	    width: 87px;
	}

	#wrap-tab ul li{
		margin:0 0 0 25px;
	}

	.irs-slider{
		width: 10px !important;
	}
	
	.mobile-padding-left{
		padding-left: 5px;
	}

	.title h3{
		padding-left: 15px;
	}

	#disclamer-page{
		padding-left: 15px;
	}

	#important-text,
	#assump-text{
		padding: 0 10px;
	}

	/*bootstrap overide*/
	.percent {
	    padding: 0 18px;
	}

	.tab-pane .col-xs-1 {
	    width: 17%;
	}

	.modal-body .col-xs-2 {
		width: 23.667%;
	}

}


/*less than 400px*/
@media screen and (max-width: 400px) {
	.arrow-top{
		background: url(../../images/pension_decumulator/arrow-top-bg-480.png) top center no-repeat;
	}

	.arrow-mid{
		background: url(../../images/pension_decumulator/arrow-mid-bg-480.png) top center repeat-y;
		font-size: 14px;
	}

	.arrow-bot{
		background: url(../../images/pension_decumulator/arrow-bot-bg-480.png) top center no-repeat;
	}
}