
	
	
	.selectBoxArrow{
		margin-top:0px;
		float:left;
		position:absolute;
		right:0px;
		height: 21px;
	}	
	.selectBox .selectBoxInput{
		border:0px !important;
		padding-right: 31px !important;
		padding-left:1px;
		height:18px!important;
		position:absolute;
		top:0px;
		left:1px;
		margin-top: 0 !important;
	}

	.selectBox{
		border:2px solid #ccc;
		border-radius: 4px;
		height:24px;	
		width: 100% !important;
		margin-top: 5px;
	}
	.selectBoxOptionContainer{
		position:absolute;
		border:1px solid #9b9ca0;
		height:130px;
		background-color:#FFF;
		left:-1px;
		top:20px;
		visibility:hidden;
		overflow:auto;
		z-index:1000;
	}

	iframe{
		display: none !important;
	}
	
	#contain-duration .selectBoxOptionContainer{
		height:40px;
	}

	.jspHorizontalBar{
		display: none;
	}

	.selectBoxIframe{
		position:absolute;
		background-color:#FFF;
		border:0px;
		z-index:999;
	}
	.selectBoxAnOption{
		font-family:arial;
		font-size:12px;
		cursor:default;
		margin:1px;
		overflow:hidden;
		white-space:nowrap;
	}

	/*less than 640px*/
@media screen and (max-width: 640px) {
	.selectBox{
		height: 20px;
		margin-top: 3px;
	}

	.selectBox .selectBoxInput{
		height: 16px !important;
		//padding-right: 23px !important;
	}

	.selectBoxArrow{
		height: 17px;
	}

}

@media screen and (max-width: 480px) {
	.selectBox{
		height: 17px;
		margin-top: 2px;
	}

	.selectBox .selectBoxInput{
		height: 12px !important;
		padding: 0;
		//padding-right: 20px !important;
		top: 1px;
	}

	.selectBoxArrow{
		height: 14px;
	}

	.selectBoxOptionContainer{
		top: 16px;
	}
}