body{
	font-family: Arial,sans-serif;
}

#wrapper{
	margin:0px 10px 20px 30px;
	min-width: 320px;
    overflow-y: auto;
}

.title h3{
	color:#06038d;
	font-size: 20px;
}

#content{
	//border:3px dotted #ddd;
	font-size: 14px;
	display : block;
}
#disclamer-page{
	font-size: 14px;
	color: #777777;
}

#disclamer-page  a{
	cursor : pointer;
	text-decoration : underline !important;
}

#disclamer-page  p{
	margin-bottom : 25px !important;
	
}

#important-text{
	font-size: 14px;
	color: #777777;
}

#important-text a{
	text-decoration : underline !important;
}
#important-text p{
	margin-bottom :25px;
}
#assump-text p{
	margin-bottom :25px;
}
#assump-text a{
	text-decoration : underline !important;
}

#assump-text{
	font-size: 14px;
	color: #777777;
}

#box-print h4{
	font-size: 15px;
    font-weight: bold;
}

#box-print a{
	text-decoration : none !important;
	color : black;
}
a,
a:focus{
   outline: 0;
}

/*class style important*/
.border-none{
	border:none !important;
}

.border-bottom{
	border:none !important;
	border-bottom: 3px dotted #ddd !important;
}

.align-right{
	text-align:right !important;
}

.align-left{
	text-align:left !important;
}

.align-center{
	text-align:center !important;
}

/*overide css bootstrap*/
.img-responsive{
	display: inline-block;
}

.modal-estimated{
	color: #777777;
}

/*left content
---------------------------------------------------------------------------------------------------------------*/

.left-content{
	border:3px dotted #ddd;
	min-height: 561px;
}

.tab-content{
	margin-top: 20px;	
}


/*tab*/
.nav-tabs{
	border-bottom:none;
	margin-top:20px;
}

.tab-pane{
	padding-bottom: 40px;
}

#tab1{
	padding-bottom: 13px;
}

.nav-tabs li{
	background:url(../../images/share_save/tab-bg-left.png) top left no-repeat;
	width:50%;
	height:49px;
	padding-left:13px;
}

.nav-tabs li.active{
	background:url(../../images/share_save/tab-bg-left-active.png) top left no-repeat;
}

.nav-tabs li .mid{
	background:url(../../images/share_save/tab-bg-mid.png) top left repeat-x;
	height:49px;
}

.nav-tabs li.active .mid{
	background:url(../../images/share_save/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li .mid div{
	//background:url(../../images/share_save/tab-bg-right.png) top right no-repeat;
	height:49px;
	position: relative;
}

.nav-tabs li.active  .mid div{
	//background:url(../../images/share_save/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li .mid div .fix-bg-ie8{
	background:url(../../images/share_save/tab-bg-right.png) top right no-repeat;
	height:49px;
	width: 14px;
	position: absolute;
	top: 0;
	right: 0;
}

.nav-tabs li.active  .mid div .fix-bg-ie8{
	background:url(../../images/share_save/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li:first-child{
	background:url(../../images/share_save/first-tab-bg-left.png) top left no-repeat;
	padding-left:2px;
}

.nav-tabs li:first-child.active{
	background:url(../../images/share_save/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid{
	background:url(../../images/share_save/tab-bg-mid.png) top left repeat-x;
}

.nav-tabs li:first-child.active .mid{
	background:url(../../images/share_save/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid div{
	background:url(../../images/share_save/tab-bg-right.png) top right no-repeat;
}

.nav-tabs li:first-child.active .mid div{
	background:url(../../images/share_save/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li a{
	height:38px;
	padding-left:60px;
	display:inline-block;
	line-height:38px;
	margin:6px 0 0 5px;
	color:#06038d;
	width: 90%;
}

.nav-tabs li.active a{
	font-weight:bold;
	text-decoration:none;
}

.nav-tabs li a:hover{
	text-decoration:none;
}

.nav-tabs li.share-details a{
	background:url(../../images/share_save/icon-share-details.png) top left no-repeat;
}
.nav-tabs li.share-details.active a{
	background:url(../../images/share_save/icon-share-details-active.png) top left no-repeat;
}

.nav-tabs li.results a{
	background:url(../../images/share_save/icon-return-results.png) top left no-repeat;
}
.nav-tabs li.results.active a{
	background:url(../../images/share_save/icon-return-results-active.png) top left no-repeat;
}

.child{
	display:none !important;
}

/*row content*/
.tab-pane .row-rule{
	padding:41px 0;
	margin:0 10px;
	border-top: 3px dotted #ddd;
}

.tab-pane .row-return{
	padding: 15px 0;
	color: #06038d;
}

.tab-pane .row-rule:first-child{
	padding-top:10px;
}

.tab-pane .row-rule:first-child{
	border-top:none;
}


.col-calendar{
	position: relative;
}

.wrap-img-calendar{
	position: absolute;
	right: -18px;
	top:4px;
	width: 23px;
	height: 24px;
}

.input-birthday{
}

.row-rule .unit{
	line-height:24px;
	display: inline-block;
	height: 24px;
	margin-top:5px;
	position: absolute;
	right: -30px;
    top: 0;
}

.return-result-unit{
	font-size: 18px;
	color: #009FDF;
	font-weight: bold;
	text-align: right;
}

.draw-chart{
	position: relative;
}

.chart-title-percentage,
.chart-title-estimated{
	font-size: 30px;
	color: #009FDF;
	font-weight: bold;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.chart-title-estimated{
	width: 253px;
	left: 10px;
}

.chart-title-percentage{
	width: 240px;
	left: inherit;
	right: 0;
}

.chart-title-percentage{
	top: 30%;
}

.chart-title-estimated{
	top: 50%;
}

.row-rule input[type="text"],
.row-rule select{
	height:24px;
	border:2px solid #ccc;
	margin-top:5px;
	padding: 0 5px;
	text-align:right;
	width: 99%;
}

.row-rule input[type="radio"]{
    display:none;
}

.row-rule input[type="radio"] + label{
    background:url(../../images/share_save/radio.png) center bottom no-repeat;
    height: 28px;
    width: 26px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.row-rule input[type="radio"]:checked + label{
    background:url(../../images/share_save/radio-check.png) center bottom no-repeat;
}

.row-rule .radio-lable{
	padding-top:5px;
}

.row-rule{
	color: #777777;
}

.row-rule p{
	padding-left:15px;
}

.pound{
	background:url(../../images/share_save/pound.png) bottom left no-repeat;
	padding-left:20px;
}

.no-pound{
	 padding-left: 20px;
}

.percent{
	background:url(../../images/share_save/percent.png) bottom right no-repeat;
	padding:0 25px;
}


/*.styled-select{
	width: 100%;
   	overflow: hidden;
   	background: url(../../images/share_save/select-bg.png) no-repeat right;
   	height: 24px;
   	border: 2px solid #ccc;
   	border-radius: 4px;
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.row-rule select{
	//background: url(../../images/share_save/select-bg.png) center right no-repeat;
	//width: 50px;
}


.styled-select select {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    margin-top: 0;
    padding: 0 33px 0 0;
    width: 120%;
}*/


.label-tooltip{
	display:block;
	padding: 6px 0 0 50px;
	
}

.icon-tooltip,
.icon-tooltip-popup{
	background:url(../../images/share_save/icon-tooltip.png) left bottom no-repeat;
	display:inline-block;
	height:30px;
	width:29px;
	margin-right: 20px;
	float:left;
}

.icon-tooltip:hover{
	background:url(../../images/share_save/icon-tooltip-hover.png) left center no-repeat;
}

#content-tooltip{
	background:url(../../images/share_save/tooltip-bg.png) left center no-repeat;
	width:423px;
	height:270px;
	display:none;
	z-index:2000;
	padding-left : 60px;
	padding-right : 15px;
	padding-top : 20px;
	
}

#infor-tooltip{
	z-index : 3000;
	height:229px;
	overflow-y : auto;
}


.row-rule .col-text{
	height:29px;
	line-height:29px;
}

.row-rule .ui-slider{
	margin-top:22px;
}

.row-rule .label-slider{
	margin-top:12px;
}

/*tab saving row content*/
.tab-title{
	color: #06038d;
    font-size: 17px;
    padding-left: 26px;
    margin-top: 0;
}

.draw-title{
	font-size: 17px;
	color: #06038d;
	font-weight: bold;
}

/*tab results*/
#tab3 .row-rule{
	border-top:none;
	padding: 10px 0;
}

#year-retire,
#age-retire{
	font-weight:bold;
}

.total-result{
	text-align:center;
}

.total-result-wrap{
	border: 3px solid #06038d;
    color: #06038d;
    display: inline-block;
    font-size: 19px;
    padding: 7px 50px;
}

#pound-per-year{
	font-weight:bold;
}

.result-note{
	font-size:11px;
	color:#777777;
}

.content-title{
	color:#777777;
	padding-left:25px;
}

.btn-note{
	color: #777777;
    font-size: 13px;
}

#btn-advanced{
	display:inline-block;
	color:#fff;
	font-weight:bold;
	background-color:#009fdf;
	padding:3px 10px;
	border-radius:5px;
	margin-left:20px;
	font-size:14px;
}

.label-percent{
	display:inline-block;
	padding-left:5px;
}

.icon-tooltip-popup{
	background:url(../../images/share_save/icon-tooltip-hover.png) left center no-repeat;
}

.modal-value{
	margin-left:50px;
	clear: both;
}

.modal input[type="radio"]{
    display:none;
}

.modal input[type="radio"] + label{
    background:url(../../images/share_save/radio-popup.png) center bottom no-repeat;
    height: 28px;
    width: 26px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.modal input[type="radio"]:checked + label{
    background:url(../../images/share_save/radio-popup-check.png) center bottom no-repeat;
}

#estimated-annual-modal .modal-body{
	overflow:hidden;
}

/*tab summary*/
#wrap-tab{
	border: 3px solid #06038d;
	margin:10px 0;
	padding:10px;
}

#wrap-tab .tab-title{
	padding-left:0;
}

.wanted-income{
	color: #777777;
    font-size: 17px;
}

#wrap-tab p,
#wrap-tab ul li{
	color: #777777;
}

#wrap-tab ul{
	padding:0;
}

#wrap-tab ul li{
	margin: 0 0 0 50px;
}

#wrap-tab .li-heading{
	list-style:none;
	margin:10px 0 0;
}

#wrap-tab .p-color{
	color:#06038d;
	font-weight:bold;
}

#wrap-tab a{
	color:#06038d;
	font-weight:bold;
	text-decoration:underline;
	cursor: pointer;
}

.summary-normal-title b{
	color: #da291c;
}

/*tab display result*/
.display-result-year-row{
	margin-bottom: 20px;
}

.display-result-year{
	font-size: 20px;
	font-weight: bold;
}

.expectancy-year{
	text-align: center;
	color: #717171;
}

.funds-year{
	text-align: center;
	color: #06038d;
}

.color-blue{
	color:#06038d !important;
}

.display-result-link{
	font-size: 12px;
}

.title-link{
	margin-bottom: 0px;
}

.p-link{
	margin-bottom: 20px;
}

#print-div{
	margin-bottom: 5px;
}


/*next previous*/
.tab-content .btnNext,
.tab-content .btnPrevious,
.btn-print{
	position:absolute;
	bottom:10px;
	background-color: #06038d;
	height:25px;
	padding:1.5px 12px;
	font-weight: bold;
}

#tab1 .btnNext{
	position: static;
	margin-right: -37px;
}

#wrap-tab .btn-print{
	position: inherit;
	color: #fff;
	text-decoration: none;
}

.tab-content .btnPrevious{
	background-color:#747678;
}

.tab-content .btnNext:hover,
.tab-content .btnPrevious:hover{
	background-color:#428bca;
}

.tab-content .btnNext{
	right:52px;
}

.tab-content .btnPrevious{
	left:15px;
}

.tab-content .btn-print{
	right: 15px;
}

/*right-content
---------------------------------------------------------------------------------------------------------------*/
.right-content{
	overflow: hidden;
	//min-height: 638px;
	//height : 638px;
}

.right-content h3{
	font-size: 19px;
	color: #0f0d8f;
}

.top-arrow{
	text-align: center;
	z-index: 999;
	position: relative;
	margin-bottom: -10px;
}

.arrow-top{
	background: url(../../images/share_save/arrow-top-bg.png) center top no-repeat;
	height: 27px;
}

.arrow-mid{
	background: url(../../images/share_save/arrow-mid-bg.png) center top repeat-y;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #0f0d8f;
	line-height: 21px;
}

.arrow-bot{
	background: url(../../images/share_save/arrow-bot-bg.png) center top no-repeat;
	height: 27px;	
}

.pound-shortfall{
	color: #da291c;
}

.bot-arrow{
	background: url(../../images/share_save/arrow-pension.png) left top no-repeat;
	width: 201px;
	height: 74px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 17px;
	color: #0f0d8f;
	padding-top: 12px;
	position:absolute;
}

.coinRed{
	background: url(../../images/share_save/coin_red_horiontal_crop.png) top no-repeat;
	width: 114px;
	height: 50px;
	position:absolute;
	display:none;
}

.coinBlue{
	background: url(../../images/share_save/coin_blue_horizontal_crop.png) top no-repeat;
	width: 114px;
	height: 50px;
	position:absolute;
	display:none;
}

#coin-container{
	height : 520px;
	width: 114px;
	display: inline-block;
}

#coin-title-left{
	z-index: 999;
	position: relative;
	margin-bottom: -10px;
	background: url(../../images/share_save/title-coin-gray.png) bottom center no-repeat;
	min-width: 172px;
	min-height: 94px;
	font-size: 17px;
	color: #7a7a7a;
}

#coin-title-right{
	background: url(../../images/share_save/title-coin-blue.png) bottom center no-repeat;
	min-width: 172px;
	min-height: 94px;
	font-size: 17px;
	color: #06038d;
}

.draw-chart-default{
	padding-top: 50px;
}

/*overide slider css*/
.ui-slider-pips .ui-slider-pip{
	color: #777777 !important;
	font-weight: bold !important;
}

@media screen and (min-width:0\0) {
	/* IE9 and IE10 rule sets go here */
	.img-responsive{
		width: auto;
	}

	.row-rule input[type="text"],
	.row-rule select{
		padding: 0;
	}
}

/*less than 991px*/
@media screen and (max-width: 991px) {
	.left-content{
		//border-right: none;
		min-height: inherit;
	}

	.right-content{
		border-top: 3px dotted #ddd;
	}

	.row-rule .unit{
		//right: -24px;
	}
}

/*less than 640px*/
@media screen and (max-width: 640px) {
	/*font size*/
	#content,
	.modal-body{
	    font-size: 13px;
	}

	.form-control{
		font-size: 13px;
	}

	.tab-title,
	.wanted-income,
	.draw-title{
		font-size: 16px;
	}

	.total-result-wrap{
		font-size: 18px;
	}

	.btn-note{
		font-size: 12px;
	}

	.result-note{
	    font-size: 10px;
	}

	.display-result-year{
		font-size: 16px;
	}

	.chart-title-percentage, 
	.chart-title-estimated{
		font-size: 25px;
	}

	.return-result-unit{
		font-size: 15px;
	}
	/**/

	.tab-pane .row-rule{
		padding: 10px 0;
	}

	.fix-bg-ie8{
		display: none;
	}

	.nav-tabs li{
		background:url(../../images/share_save/tab-bg-left-480.png) top left no-repeat;
		height:38px;
		padding-left:11px;
	}

	.nav-tabs li.active{
		background:url(../../images/share_save/tab-bg-left-active-480.png) top left no-repeat;
	}

	.nav-tabs li .mid{
		background:url(../../images/share_save/tab-bg-mid-480.png) top left repeat-x;
		height:38px;
	}

	.nav-tabs li.active .mid{
		background:url(../../images/share_save/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li .mid div{
		background:url(../../images/share_save/tab-bg-right-480.png) top right no-repeat;
		height:38px;
	}

	.nav-tabs li.active  .mid div{
		background:url(../../images/share_save/tab-bg-right-active-480.png) top right no-repeat;
	}

	.nav-tabs li:first-child{
		background:url(../../images/share_save/first-tab-bg-left-480.png) top left no-repeat;
		padding-left:2px;
	}

	.nav-tabs li:first-child.active{
		background:url(../../images/share_save/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid{
		background:url(../../images/share_save/tab-bg-mid-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child.active .mid{
		background:url(../../images/share_save/tab-bg-mid-active-480.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid div{
		background:url(../../images/share_save/tab-bg-right-480.png) top right no-repeat;
	}

	.nav-tabs li:first-child.active .mid div{
		background:url(../../images/share_save/tab-bg-right-active-480.png) top right no-repeat;
	}

	.nav-tabs li a{
		height:31px;
		padding-left:36px;
		line-height:31px;
		margin:4px 0 0 1px;
		font-size: 12px;
	}

	.nav-tabs li.active a{
		font-weight:bold;
		text-decoration:none;
	}

	.nav-tabs li a:hover{
		text-decoration:none;
	}

	.nav-tabs li.share-details a{
		background:url(../../images/share_save/icon-share-details-480.png) top left no-repeat;
	}
	.nav-tabs li.share-details.active a{
		background:url(../../images/share_save/icon-share-details-active-480.png) top left no-repeat;
	}

	.nav-tabs li.results a{
		background:url(../../images/share_save/icon-return-results-480.png) top left no-repeat;
	}
	.nav-tabs li.results.active a{
		background:url(../../images/share_save/icon-return-results-active-480.png) top left no-repeat;
	}


	/*tooltip*/
	.icon-tooltip{
		background:url(../../images/share_save/icon-tooltip-480.png) left bottom no-repeat;
		height:22px;
		width:22px;
		margin-right: 0px;
	}

	.icon-tooltip:hover{
		background:url(../../images/share_save/icon-tooltip-hover-480.png) left center no-repeat;
	}

	.label-tooltip {
    	padding: 2px 0 0 30px;
	}

	#content-tooltip{
		background:url(../../images/share_save/tooltip-bg-480.png) left center no-repeat;
		width:192px;
		height:139px;
		padding-left : 30px;
		padding-right : 3px;
		padding-top : 7px;
	}

	#infor-tooltip{
		height:118px;
		overflow-y : auto;
	}

	/*radio input*/
	.row-rule input[type="radio"] + label{
	    background:url(../../images/share_save/radio-480.png) center bottom no-repeat;
	    height: 21px;
    	width: 20px;
	}

	.row-rule input[type="radio"]:checked + label{
	    background:url(../../images/share_save/radio-check-480.png) center bottom no-repeat;
	}

	.row-rule input[type="text"],
	.row-rule select{
	    height: 20px;
	    margin-top: 3px;
	}

	.row-rule .unit{
		margin-top: 0;
		right: -22px;
	}

	.pound {
	    background: url(../../images/share_save/pound-480.png) no-repeat scroll left bottom;
	}

	.percent {
	    background: url(../../images/share_save/percent-480.png) no-repeat scroll right bottom;
	    padding: 0 25px;
	}

	.tab-content .btnNext{
		right:40px;
	}

	#tab1 .btnNext{
		margin-right: -29px;
	}

	/*popup*/
	.icon-tooltip-popup{
		background: url(../../images/share_save/icon-tooltip-hover-480.png) no-repeat scroll left;
	}

	/*icon calendar*/
	.wrap-img-calendar{
	    right: -9px;
	    top: 2px;
	    width: 20px;
	}

	/*bootstrap overide*/
	.tab-pane .col-xs-10{
		//width: 70%;
	}

	.tab-pane .col-xs-2{
		//width: 37%;
	}

	.tab-pane .col-xs-1{
		//width: 15%;
	}

	#tab3 .col-xs-8{
		//width: 38%;
	}
}


/*less than 480px*/
@media screen and (max-width: 480px) {
	/*font size*/
	#content,
	.modal-body{
	    font-size: 10px;
	}

	.form-control{
		font-size: 10px;
	}

	.tab-title,
	.wanted-income,
	.draw-title{
		font-size: 13px;
	}

	.total-result-wrap{
		font-size: 15px;
	}

	.btn-note{
		font-size: 9px;
	}

	.result-note{
	    font-size: 7px;
	}

	.display-result-year{
		font-size: 14px;
	}

	.chart-title-percentage, 
	.chart-title-estimated{
		font-size: 20px;
	}

	.return-result-unit{
		font-size: 13px;
	}

	/**/
	#wrapper{
		margin:10px 0;
	}

	.left-content {
	    padding: 0 5px;
	}

	.tab-pane .row-rule{
		padding: 10px 0;
	}

	.nav-tabs li{
		background:url(../../images/share_save/tab-bg-left-320.png) top left no-repeat;
		height:25px;
		padding-left:7px;
	}

	.nav-tabs li.active{
		background:url(../../images/share_save/tab-bg-left-active-320.png) top left no-repeat;
	}

	.nav-tabs li .mid{
		background:url(../../images/share_save/tab-bg-mid-320.png) top left repeat-x;
		height:25px;
	}

	.nav-tabs li.active .mid{
		background:url(../../images/share_save/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li .mid div{
		background:url(../../images/share_save/tab-bg-right-320.png) top right no-repeat;
		height:25px;
	}

	.nav-tabs li.active  .mid div{
		background:url(../../images/share_save/tab-bg-right-active-320.png) top right no-repeat;
	}

	.nav-tabs li:first-child{
		background:url(../../images/share_save/first-tab-bg-left-320.png) top left no-repeat;
		padding-left:2px;
	}

	.nav-tabs li:first-child.active{
		background:url(../../images/share_save/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid{
		background:url(../../images/share_save/tab-bg-mid-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child.active .mid{
		background:url(../../images/share_save/tab-bg-mid-active-320.png) top left repeat-x;
	}

	.nav-tabs li:first-child .mid div{
		background:url(../../images/share_save/tab-bg-right-320.png) top right no-repeat;
	}

	.nav-tabs li:first-child.active .mid div{
		background:url(../../images/share_save/tab-bg-right-active-320.png) top right no-repeat;
	}

	.nav-tabs li a{
		height:25px;
		padding-left:24px;
		line-height:22px;
		margin:2px 0 0 1px;
	}

	.nav-tabs li.active a{
		font-weight:bold;
		text-decoration:none;
	}

	.nav-tabs li a:hover{
		text-decoration:none;
	}

	.nav-tabs li.share-details a{
		background:url(../../images/share_save/icon-share-details-320.png) top left no-repeat;
	}
	.nav-tabs li.share-details.active a{
		background:url(../../images/share_save/icon-share-details-active-320.png) top left no-repeat;
	}

	.nav-tabs li.results a{
		background:url(../../images/share_save/icon-return-results-320.png) top left no-repeat;
	}
	.nav-tabs li.results.active a{
		background:url(../../images/share_save/icon-return-results-active-320.png) top left no-repeat;
	}

	/*tooltip*/
	.icon-tooltip{
		background:url(../../images/share_save/icon-tooltip-320.png) left bottom no-repeat;
		height:19px;
		width:17px;
		margin-right: 0px;
	}

	.icon-tooltip:hover{
		background:url(../../images/share_save/icon-tooltip-hover-320.png) left center no-repeat;
	}

	.label-tooltip {
    	padding: 3px 0 0 30px;
	}


	/*radio input*/
	.row-rule input[type="radio"] + label{
	    background:url(../../images/share_save/radio-320.png) center bottom no-repeat;
	    height: 17px;
    	width: 21px;
	}

	.row-rule input[type="radio"]:checked + label{
	    background:url(../../images/share_save/radio-check-320.png) center bottom no-repeat;
	}

	.row-rule input[type="text"],
	.row-rule select{ 
	    height: 17px;
	    margin-top: 2px;
	}

	.row-rule .unit{
		right: -15px;
		height: 20px;
    	line-height: 20px;
	}

	/*popup*/
	.icon-tooltip-popup{
		margin-right: 0px;
	}

	.mobile-padding-left{
		padding-left: 0px;
	}

	/*right draw*/
	/*.arrow-top{
		background: url(../../images/share_save/arrow-top-bg-480.png) top left no-repeat;
		width: 120px;
		height: 16px;
	}

	.arrow-mid{
		background: url(../../images/share_save/arrow-mid-bg-480.png) top left repeat-y;
		width: 120px;
		font-size: 14px;
		line-height: 26px;
	}

	.arrow-bot{
		background: url(../../images/share_save/arrow-bot-bg-480.png) top left no-repeat;
		width: 120px;
		height: 16px;	
	}*/

	.bot-arrow{
		background: url(../../images/share_save/arrow-pension-480.png) left top no-repeat;
		width: 129px;
		height: 61px;
		font-size: 13px;
		padding-top: 16px;
		padding-left: 20px;
	}

	#coin-title-left{
		background: url(../../images/share_save/title-coin-gray-480.png) bottom center no-repeat;
		font-size: 13px;
	    min-height: 66px;
	    min-width: 120px;
	}

	#coin-title-right{
		background: url(../../images/share_save/title-coin-blue-480.png) bottom center no-repeat;
		font-size: 13px;
	    min-height: 66px;
	    min-width: 120px;
	}

	.btn-print {
	    margin: 25px 2px 0 0;
	}

	/*icon calendar*/
	.wrap-img-calendar{
	    width:16px;
	}

	.title h3{
		padding-left: 15px;
	}

	#important-text,
	#assump-text{
		padding: 0 10px;
	}

	#disclamer-page{
		padding-left: 15px;
	}

	.tab-content .btnPrevious {
	    left: 5px;
	}

	.tab-content .btn-print {
	    right: 5px;
	}

	#tab1 .btnNext{
		margin-right: 10px;
	}

	/*bootstrap overide*/
	.percent {
	    padding: 0 18px;
	}

	.tab-pane .col-xs-1 {
	    width: 17%;
	}

	.modal-body .col-xs-2 {
		width: 23.667%;
	}

}



/*less than 635px for chart*/
@media screen and (max-width: 635px) {
	.chart-title-estimated{
		width: 100%;
		left: 0px;
	}

	.chart-title-percentage{
		width: 72%;
	}
}

@media screen and (max-width: 376px) {
	.chart-title-percentage{
		width: 85%;
	}
}