@media (min-width: 640px) and (max-width: 991px){
	table.table-responsive > tbody> tr> td.tenPersent {
		width : 60px!important;
		padding-right : 10px !important;
	}
	table.table-responsive > tbody >tr > td.forty{
		width : 245px !important;
		
	}
	
	table.table-responsive > tbody >tr > td.aquarter{
		width : 21% !important;
	}
	
	.table-responsive .img-responsive{
		width : 35px;
		height : 35px;
	}
	
	.tenPersent .img-responsive{
		width :30px;
		height : 30px;
	}
	.arrow  .img-responsive{
		width :30px;
		height : 30px;
	}

	.panel-default>.panel-heading{
		background-color: transparent;
		border-radius : 15px !important;
		padding : 0px !important;
	}
	
	.row-containTblInput{
		margin:15px 0px 0px 0px;
		height:215px;
		overflow-x:hidden;
		overflow-y:auto;
	}
	
	div.panel-group{
		width : 450px;
	}
	
	div.panel-default{
		border-color: transparent;
		margin-bottom : 5px;
	}

	.table-responsive {
		margin-bottom:0 !important;
		border : 0 !important;
	}
	
	.panel-group .panel-heading+.panel-collapse>.panel-body{
		padding:0px;
		border: 1px solid;
		border-top: transparent;
		border-radius: 15px;
		border-left-color: #ddd;
		border-right-color: #ddd;
		border-bottom-color: #ddd;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	
	div.row-heading{
		height : 45px;
		padding-top:13px;
		margin-left:0px !important;
		margin-right:0px !important;
		border-bottom : 1px solid;
		border-bottom-left-radius : 15px;
		border-bottom-right-radius : 15px;
		border-bottom-color : #ddd;
		border-radius : 15px;
		-webkit-transition: all ease-in-out .3s;
		-moz-transition: all ease-in-out .3s;
		-ms-transition: all ease-in-out .3s;
		-o-transition: all ease-in-out .3s;
		transition: all ease-in-out .3s;
	}
	table.containInput{
		width : 430px;
	}
	table.totalCal{
		width : 422px;
	}
	table.next{
		width : 450px;
	}
	
	table.totalCal td.one{
		width : 45%;	
	}
	table.totalCal td.two{
		width : 33%;
	}
	
	table.totalCal td.three{
		width : 8%;
	}
	
	table.totalCal td.money {
		padding-left : 7px;
	}
	
	table.totalCal td.moneyTotal{
		padding-right : 0px !important;
	}
	
	table.next td.one{
		width : 53% !important;	
	}
	table.next td.two{
		width : 26%  !important;
	}
	
	table.next td.money{
		width : 8% !important;
		padding-left : 348px;
	}
	
	#myModal{
		top:5%;
		right:0%;
		left : 0%;
		outline: none;
	}
	#myModal .modal-content{
		width : 450px;
	}
	
	#myModal2{
		top:5%;
		right:0%;
		left : 0%;
		outline: none;
	}
	#myModal2 .modal-content{
		width : 490px;
	}
	
	.labelTop{
		position:: absolute;
		width: 187px;
		left: 51%;
		top: 21%;
		height: 183px;
		margin-top: -30px;
		margin-left: -97px;
		text-align: center;
		border-radius: 115px;
		z-index: 1000;
		background: url("../../images/budget_planner/trickIE.png") no-repeat scroll top center ;
	}
}