.coinRed{
	display: list-item;
	list-style-image: url(../../images/pension_accumulators/coin_red_horiontal_crop.png);
	list-style-position: inside;
}

.coinBlue{
	display: list-item;
	list-style-image:  url(../../images/pension_accumulators/coin_blue_horizontal_crop.png);
	list-style-position: inside;
}

.nav-tabs li.about-you a{
	display: list-item;
	list-style-image:  url(../../images/pension_accumulators/icon-about-you.png);
	list-style-position: inside;
	
}
.nav-tabs li.about-you.active a{
	display: list-item;
	list-style-image:  url(../../images/pension_accumulators/icon-about-you-active.png);
	list-style-position: inside;
	
}

.nav-tabs li.savings a{
	display: list-item;
	list-style-image: url(../../images/pension_accumulators/icon-savings.png);
	list-style-position: inside;

}
.nav-tabs li.savings.active a{
	display: list-item;
	list-style-image: url(../../images/pension_accumulators/icon-savings-active.png);
	list-style-position: inside;
	
}

.nav-tabs li.results a{
	display: list-item;
	list-style-image: url(../../images/pension_accumulators/icon-results.png);
	list-style-position: inside;
	
}
.nav-tabs li.results.active a{
	display: list-item;
	list-style-image:url(../../images/pension_accumulators/icon-results-active.png);
	list-style-position: inside;
	
}

.nav-tabs li.summary a{
	display: list-item;
	list-style-image:url(../../images/pension_accumulators/icon-summary.png);
	list-style-position: inside;
	
}
.nav-tabs li.summary.active a{
	display: list-item;
	list-style-image:url(../../images/pension_accumulators/icon-summary-active.png);
	list-style-position: inside;
	
}