#wrapper{
	margin:20px 10px 20px 30px;
}

.title h3{
	color:#06038d;
}

#content{
	border:3px dotted #ddd;
}

/*class style important*/
.border-none{
	border:none !important;
}

.align-right{
	text-align:right !important;
}

.align-left{
	text-align:left !important;
}

.align-center{
	text-align:center !important;
}

/*left content
-----------------------------------------------------------------*/
.left-content{
	border-right:3px dotted #ddd;
}

/*tab*/
.nav-tabs{
	border-bottom:none;
	margin-top:20px;
}

.nav-tabs li{
	background:url(../../images/pension_accumulators/tab-bg-left.png) top left no-repeat;
	width:25%;
	height:49px;
	padding-left:13px;
}

.nav-tabs li.active,
.nav-tabs li.parent-active{
	background:url(../../images/pension_accumulators/tab-bg-left-active.png) top left no-repeat;
}

.nav-tabs li .mid{
	background:url(../../images/pension_accumulators/tab-bg-mid.png) top left repeat-x;
	height:49px;
}

.nav-tabs li.active .mid,
.nav-tabs li.parent-active .mid{
	background:url(../../images/pension_accumulators/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li .mid div{
	background:url(../../images/pension_accumulators/tab-bg-right.png) top right no-repeat;
	height:49px;
}

.nav-tabs li.active  .mid div,
.nav-tabs li.parent-active  .mid div{
	background:url(../../images/pension_accumulators/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li:first-child{
	background:url(../../images/pension_accumulators/first-tab-bg-left.png) top left no-repeat;
	padding-left:2px;
}

.nav-tabs li:first-child.active{
	background:url(../../images/pension_accumulators/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid{
	background:url(../../images/pension_accumulators/tab-bg-mid.png) top left repeat-x;
}

.nav-tabs li:first-child.active .mid{
	background:url(../../images/pension_accumulators/tab-bg-mid-active.png) top left repeat-x;
}

.nav-tabs li:first-child .mid div{
	background:url(../../images/pension_accumulators/tab-bg-right.png) top right no-repeat;
}

.nav-tabs li:first-child.active .mid div{
	background:url(../../images/pension_accumulators/tab-bg-right-active.png) top right no-repeat;
}

.nav-tabs li a{
	height:38px;
	padding-left:44px;
	display:inline-block;
	line-height:38px;
	margin:6px 0 0 5px;
	color:#0f0d8f;
}

.nav-tabs li.active a,
.nav-tabs li.parent-active a{
	font-weight:bold;
	text-decoration:none;
}

.nav-tabs li a:hover{
	text-decoration:none;
}

.nav-tabs li:nth-child(1) a{
	background:url(../../images/pension_accumulators/icon-about-you.png) top left no-repeat;
}
.nav-tabs li:nth-child(1).active a{
	background:url(../../images/pension_accumulators/icon-about-you-active.png) top left no-repeat;
}

.nav-tabs li:nth-child(2) a{
	background:url(../../images/pension_accumulators/icon-savings.png) top left no-repeat;
}
.nav-tabs li:nth-child(2).active a,
.nav-tabs li:nth-child(2).parent-active a{
	background:url(../../images/pension_accumulators/icon-savings-active.png) top left no-repeat;
}

.nav-tabs li:nth-child(4) a{
	background:url(../../images/pension_accumulators/icon-results.png) top left no-repeat;
}
.nav-tabs li:nth-child(4).active a{
	background:url(../../images/pension_accumulators/icon-results-active.png) top left no-repeat;
}

.nav-tabs li:nth-child(5) a{
	background:url(../../images/pension_accumulators/icon-summary.png) top left no-repeat;
}
.nav-tabs li:nth-child(5).active a{
	background:url(../../images/pension_accumulators/icon-summary-active.png) top left no-repeat;
}

/*.nav-tabs li:nth-child(2) a:active{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(4) a:hover{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(5) a:hover{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}*/

.nav-tabs li.active a{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}

.child{
	display:none !important;
}

/*row content*/
.tab-pane{
	padding-bottom:40px;
}

.tab-pane .row-rule{
	padding:20px 0;
	margin:0 10px;
	border-top: 3px dotted #ddd;
}

.tab-pane .row-rule:first-child{
	border-top:none;
}

.input-age{
	width:60%;
	margin-left:40%;
}

.row-rule input[type="text"]{
	height:24px;
	border:2px solid #ccc;
	margin-top:5px;
	padding: 0 5px;
	text-align:right;
}

.row-rule input[type="radio"]{
	//margin:6px 0 0;
	//width: 20px;
    //height: 20px;
}

.row-rule input[type="radio"]{
    display:none;
}

.row-rule input[type="radio"] + label{
    background:url(../../images/pension_accumulators/radio.png) center bottom no-repeat;
    height: 28px;
    width: 26px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.row-rule input[type="radio"]:checked + label{
    background:url(../../images/pension_accumulators/radio-check.png) center bottom no-repeat;
}

.row-rule .radio-lable{
	padding-top:5px;
}

.row-rule{
	font-size:14px;
	color: #797979;
}

.row-rule p{
	padding-left:15px;
}

.pound{
	background:url(../../images/pension_accumulators/pound.png) bottom left no-repeat;
	padding-left:20px;
}

.percent{
	background:url(../../images/pension_accumulators/percent.png) bottom right no-repeat;
	padding:0 25px;
}

.label-tooltip{
	display:block;
	padding: 6px 0 0 50px;
	
}

.icon-tooltip{
	background:url(../../images/pension_accumulators/icon-tooltip.png) left bottom no-repeat;
	display:inline-block;
	height:30px;
	width:29px;
	margin-right: 20px;
	float:left;
}

.icon-tooltip:hover{
	background:url(../../images/pension_accumulators/icon-tooltip-hover.png) left center no-repeat;
}

#content-tooltip{
	background:url(../../images/pension_accumulators/tooltip-bg.png) left center no-repeat;
	width:423px;
	height:305px;
	display:none;
	z-index:999;
	padding-left : 60px;
	padding-right : 15px;
	padding-top : 20px;
	overflow-y : auto;
}

.row-rule .col-text{
	height:29px;
	line-height:29px;
}

.row-rule .ui-slider{
	margin-top:22px;
}

.row-rule .label-slider{
	margin-top:12px;
}

/*tab saving row content*/
.tab-title{
	color: #0f0d8f;
    font-size: 17px;
    padding-left: 26px;
}

/*next previous*/
.tab-content .btnNext,
.tab-content .btnPrevious{
	position:absolute;
	bottom:10px;
	background-color: #06038d;
	height:25px;
	padding:2px 12px;
}

.tab-content .btnPrevious{
	background-color:#747678;
}

.tab-content .btnNext:hover,
.tab-content .btnPrevious:hover{
	background-color:#428bca;
}

.tab-content .btnNext{
	right:28px;
}

.tab-content .btnPrevious{
	left:28px;
}