#wrapper{
	margin:20px 10px 20px 30px;
}

.title h3{
	color:#06038d;
}

#content{
	border:3px dotted #ddd;
}


/*left content
-----------------------------------------------------------------*/
.left-content{
	border-right:3px dotted #ddd;
}

.nav-tabs{
	border-bottom:none;
	margin-top:20px;
}

.nav-tabs li{
	background:url(../../images/pension_accumulators/tab-bg-left.png) top left no-repeat;
	width:25%;
	height:49px;
	padding-left:13px;
}

.nav-tabs li .mid{
	background:url(../../images/pension_accumulators/tab-bg-mid.png) top left repeat-x;
	height:49px;
}

.nav-tabs li .mid div{
	background:url(../../images/pension_accumulators/tab-bg-right.png) top right no-repeat;
	height:49px;
}

.nav-tabs li:first-child{
	background:url(../../images/pension_accumulators/first-tab-bg-left.png) top center no-repeat;
	padding-left:0;
}

.nav-tabs li:first-child .mid{
	background:url(../../images/pension_accumulators/first-tab-bg-mid.png) top left repeat-x;
}

.nav-tabs li:first-child .mid div{
	background:url(../../images/pension_accumulators/first-tab-bg-right.png) top right no-repeat;
}

.nav-tabs li a{
	height:38px;
	padding-left:44px;
	display:inline-block;
	line-height:38px;
	margin:5px 0 0 5px;
	color:#0f0d8f;
}

.nav-tabs li.active a,
.nav-tabs li a:hover{
	font-weight:bold;
	text-decoration:none;
}

.nav-tabs li:nth-child(1) a{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(2) a{
	background:url(../../images/pension_accumulators/icon-savings.png) top left no-repeat;
}
.nav-tabs li:nth-child(4) a{
	background:url(../../images/pension_accumulators/icon-results.png) top left no-repeat;
}
.nav-tabs li:nth-child(5) a{
	background:url(../../images/pension_accumulators/icon-summary.png) top left no-repeat;
}

.nav-tabs li:nth-child(2) a:hover{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(4) a:hover{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}
.nav-tabs li:nth-child(5) a:hover{
	background:url(../../images/pension_accumulators/icon-about-you-hover.png) top left no-repeat;
}

.nav-tabs li.active a{
}

.child{
	display:none !important;
}

/*row content*/
.tab-pane{
	padding-bottom:30px;
}

.tab-pane .row-rule{
	padding:20px 0;
	margin:0 20px;
	border-top: 3px dotted #ddd;
}

.tab-pane .row-rule:first-child{
	border-top:none;
}

.input-age{
	width:60%;
	margin-left:40%;
}

.row-rule input[type="text"]{
	height:23px;
	border:2px solid #ccc;
}

.row-rule input[type="radio"]{
	margin-left:0;
	width: 20px;
    height: 20px;
}

.row-rule .radio-lable{
	padding-top:5px;
}

.pound{
	background:url(../../images/pension_accumulators/pound.png) bottom left no-repeat;
}

.icon-tooltip{
	background:url(../../images/pension_accumulators/icon-tooltip.png) left center no-repeat;
	display:inline-block;
	width:29px;
	height:29px;
}

.row-rule .col-text{
	height:29px;
	line-height:29px;
}

/*next previous*/
.tab-content .btnNext,
.tab-content .btnPrevious{
	position:absolute;
	bottom:5px;
	background-color: #06038d;
	height:25px;
	padding:2px 12px;
}

.tab-content .btnNext:hover,
.tab-content .btnPrevious:hover{
	background-color:#428bca;
}

.tab-content .btnNext{
	right:5px;
}

.tab-content .btnPrevious{
	left:5px;
}